#parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  border: none;
}

.textlogin {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  color: #1e2226;
}

h1 {
  margin-top: 4vh;
  color: #181c20;
  height: 5vh;
  font-size: 3.6vh;
}

#body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #f8f9fe;
}

.input {
  border: none;
}

#loginPageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: #d32f2f;
  margin: 10px 0;
  font-size: 3.6vh;
}

/* Username Box */

#user {
  width: 30vh;
  height: 6.2vh;
  border-radius: 5px;
  padding-left: 35px;
  color: #1e2226;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  border: solid 0.25vh #93979f;
  margin-top: 6vh;
  margin-bottom: 1.5vh;
  background: url(../../../assets/user.svg) no-repeat scroll 0px 0px;
  background-size: 25px;
  background-position: 4px 1.5vh;
  font-size: 3vh;
}

#user:focus {
  margin-top: 5.8;
  margin-bottom: 1.3;
  border: solid 0.4vh #417096;
  outline: none;
}

#user::placeholder {
  color: #1e2226;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  font-size: 3vh;
}

#user:focus::placeholder {
  color: white;
}

/* Password Box */

#pass {
  width: 30vh;
  height: 7.3vh;
  border-radius: 5px;
  color: #1e2226;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  border: solid 0.25vh #93979f;
  padding-left: 35px;
  background: url(../../../assets/pass.svg) no-repeat scroll 0px 0vh;
  background-size: 25px;
  background-position: 5px 1.7vh;
  font-size: 3vh;
}

#pass::placeholder {
  color: #1e2226;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  font-size: 3vh;
}

#pass:focus {
  border: solid 0.4vh #417096;
  outline: none;
}

#pass:focus::placeholder {
  color: white;
}

/* Login Button */

#loginButton {
  margin-top: 5.7vh;
  margin-bottom: 4.4vh;
  width: 30vh;
  height: 8vh;
  background-color: #cee5ff;
  border: 1px #cee5ff;
  border-radius: 15px;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  outline: none;
  font-size: 3vh;
}

#loginButton:hover {
  background-color: #bed5ef;
  cursor: pointer;
  outline: none;
}
