#parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--content-height);
  width: var(--content-width);
  padding: 0;
  margin: 0;
  border: none;
}

.textlogin {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight);
  color: var(--font-color);
}

.loginh1 {
  margin-top: var(--login-h1-margin-top);
  height: var(--login-h1-height);
  font-size: var(--font-size-large);
  color: var(--font-color-prompt-title);
}

#body {
  padding: 0;
  width: var(--page-width);
  height: var(--page-height);
  margin: 0;
  background-color: var(--background-color);
}

.input {
  border: none;
  background-color: transparent;
}

#loginPageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: var(--error-message-color);
  margin: var(--login-error-message-margin);
  font-size: var(--font-size-large);
}

/* Username Box */

#user {
  max-width: calc(
    var(--login-box-width) - calc(var(--login-box-padding-left) * 1)
  );
  height: var(--matchform-element-height);
  color: var(--font-color-prompt-title);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight);
  background-color: transparent;
  background-position: var(--login-box-background-position);
  font-size: var(--font-size-large);
}

#user:focus {
  outline: none;
}

#usercontainer:focus-within {
  border: solid 0.4vh var(--border-color-active);
  outline: none;
}

#user::placeholder {
  color: var(--font-color-prompt-title);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size-large);
}

#user:focus::placeholder {
  color: var(--background-color);
}

/* Password Box */

#pass {
  max-width: calc(
    var(--login-box-width) - calc(var(--login-box-padding-left) * 1)
  );
  height: var(--matchform-element-height);
  color: var(--font-color-prompt-title);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight);
  border: none;
  background-color: var(--background-color) no-repeat scroll 0px 0vh;
  background-size: var(--login-box-background-size);
  background-position: var(--login-box-background-position);
  font-size: var(--font-size-large);
}

#pass::placeholder {
  color: var(--font-color-prompt-title);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size-large);
}

#pass:focus {
  outline: none;
}

#passcontainer:focus-within {
  border: solid 0.4vh var(--border-color-active);
  outline: none;
}

#pass:focus::placeholder {
  color: var(--background-color);
}

/* Login Button */

#loginButton {
  width: var(--login-button-width);
  height: var(--login-button-height);
  margin-top: 5.7vh;
  margin-bottom: 4.4vh;
  background-color: var(--accent-color3);
  border: 1px var(--accent-color3);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight);
  outline: none;
  font-size: var(--font-size-large);
}

#loginButton:hover {
  background-color: var(--accent-color2);
  cursor: pointer;
  outline: none;
}

#userimg {
  width: var(--login-box-padding-left);
  height: var(--login-box-padding-left);
  background-color: var(--font-color-prompt-title);
  -webkit-mask-image: url("../../assets/user.svg");
  mask-image: url("../../assets/user.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

#passimg {
  width: var(--login-box-padding-left);
  height: var(--login-box-padding-left);
  background-color: var(--font-color-prompt-title);
  -webkit-mask-image: url("../../assets/square-solid-full.svg");
  mask-image: url("../../assets/square-solid-full.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

#usercontainer {
  display: flex;
  flex-direction: row;
  margin-top: var(--login-box-margin-top);
  margin-bottom: var(--login-box-margin-bottom);
  align-items: center;
  border: solid 0.25vh var(--border-color-faded);
  border-radius: var(--border-radius);
}

#passcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 0.25vh var(--border-color-faded);
  border-radius: var(--border-radius);
}
