#parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    border: none;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1;
    color: #1e2226;
}

h1 {
    margin-top: 4vh;
    color: #181c20;
    height: 5vh;
    font-size: 3.6vh;
}

#body {
    padding: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fe;
}

#navbar {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 8vh;
    background-color: #9bcbfb;
}

.input {
    border: none;
}