#homeBody {
  width: var(--page-width);
  height: var(--page-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

#homeBody > * {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.textHome {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--font-color-prompt-title);
  font-size: var(--font-size-large);
  padding: 0;
  margin-bottom: 0;
  padding-top: var(--home-text-padding-top);
}

.textHome2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--font-color-prompt-title);
  font-size: var(--font-size-large);
}

#assigned {
  margin-bottom: 0;
  padding-top: var(--home-assigned-h-padding-top);
}

#refreshButtonContainer {
  position: fixed;
  bottom: var(--home-refresh-container-bottom);
  right: var(--home-refresh-container-right);
  margin: 0;
}

#refreshButton {
  margin-top: var(--home-refresh-button-margin-top);
  margin-bottom: var(--home-refresh-button-margin-bottom);
  border: 1px var(--border-color-active);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 5px var(--drop-shadow-color);
  outline: none;
  width: var(--refresh-button-size);
  height: var(--refresh-button-size);
  background-color: var(--font-color-prompt-title);
  -webkit-mask-image: url("../../assets/reload.svg");
  mask-image: url("../../assets/reload.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  cursor: pointer;
  padding: 0;
}

#refreshButton:hover {
  background-color: var(--accent-color);
}

#newmatchbutton {
  width: var(--new-matchpit-button-width);
  height: var(--new-matchpit-button-height);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 5px var(--drop-shadow-color);
  color: var(--faded-text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight);
  outline: none;
  font-size: var(--font-size-small);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#newmatchbutton:hover {
  background-color: var(--accent-color2);
}

#newmatchbuttonimg {
  width: 100%;
  height: 40%;
  background-color: var(--font-color);
  -webkit-mask-image: url("../../assets/pencil.svg");
  mask-image: url("../../assets/pencil.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

#newpitbutton {
  width: var(--new-matchpit-button-width);
  height: var(--new-matchpit-button-height);
  background-color: var(--accent-color3);
  border: 1px solid var(--accent-color3);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 5px var(--drop-shadow-color);
  color: var(--faded-text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight);
  outline: none;
  font-size: var(--font-size-small);
  background-image: url(../../assets/pitscout.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 40%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#newpitbutton:hover {
  background-color: var(--accent-color2);
}
