.text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #1e2226;
    font-size: 16px;
    padding: 0;
    margin-bottom: 0;
    padding-top: 5px;
    height: 30px;
    text-decoration: none;
}

.text:hover {
    cursor: default;
}

.collectchild {
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 80vw;
}

#collectdrop {
    margin-top: -3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6.2vh;
}

#collectdtext {
    height: 3.1vh;
    width: 70vw;
    font-size: normal;
}

#collectdropdown {
    margin-top: 3vh;
    padding-bottom: 0.5vh;
    height: 5.2vh;
    right: 0;
    border: none;
    border-bottom: gray solid 1px;
    font-size: small;
    color: #2e2e2f;
}

#collectdropdown:focus {
    outline: none;
    cursor: pointer;
}

#collectdropdown:hover {
    cursor: pointer;
}