.textCollectDrop {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--font-color);
  font-size: 2.5vh;
  padding: 0;
  margin-bottom: 0;
  padding-top: 5px;
  height: 30px;
  text-decoration: none;
}

.textCollectDrop:hover {
  cursor: default;
}

.collectchild {
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  width: calc(100% - 15vw);
}

#collectdrop {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6.2vh;
}

#collectdtext {
  height: 3.1vh;
  width: 70vw;
  font-size: normal;
}

#collectdropdown {
  margin-top: 16%;
  padding-bottom: 0.5vh;
  height: 5.2vh;
  right: 0;
  border: none;
  border-bottom: gray solid 1px;
  font-size: 2.5vh;
  color: var(--font-color);
}

#collectdropdown:focus {
  outline: none;
  cursor: pointer;
}

#collectdropdown:hover {
  cursor: pointer;
}
