.textCollectDrop {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--font-color);
  font-size: var(--font-size-small);
  padding: 0;
  margin-bottom: 0;
  padding-top: var(--dropdown-text-padding-top);
  height: var(--dropdown-text-height);
  text-decoration: none;
}

.textCollectDrop:hover {
  cursor: default;
}

.collectchild {
  margin-left: var(--matchform-child-margin-side);
  margin-right: var(--matchform-child-margin-side);
  width: calc(100% - var(--matchform-child-width-to-subtract));
}

#collectdrop {
  margin-top: var(--dropdown-collect-container-margin-top);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--element-height);
}

#collectdtext {
  height: var(--font-size-large);
  width: var(--dropdown-dtext-collect-width);
  font-size: var(--font-size-small);
}

#collectdropdown {
  margin-top: var(--dropdown-collect-margin-top);
  padding-bottom: var(--dropdown-collect-padding-bottom);
  height: var(--dropdown-height);
  right: 0;
  border: none;
  border-bottom: gray solid 1px;
  font-size: var(--font-size-small);
  color: var(--font-color);
}

#collectdropdown:focus {
  outline: none;
  cursor: pointer;
}

#collectdropdown:hover {
  cursor: pointer;
}
