#user {
    width: 31.1vw;
    height: 6.2vh;
    border-radius: 5px;
    padding-left: 35px;
    color: #1e2226;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1;
    border: solid 0.25vh #93979f;
    margin-top: 6vh;
    margin-bottom: 1.5vh;
    background: url(../../../assets/user.svg) no-repeat scroll 0px 0px;
    background-size: 25px;
    background-position: 4px 1.5vh;
}

#user:focus {
    margin-top: 5.8;
    margin-bottom: 1.3;
    border: solid 0.4vh #417096;
    outline: none;
}

#user::placeholder {
    color: #1e2226;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1;
}

#user:focus::placeholder {
    color: white;
}