#scoreButton.false {
  background-color: var(--accent-color3);
  border-color: var(--accent-color3);
}

#scoreButton.true {
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
}

#scoreButtonImg {
  height: var(--score-image-height);
  width: 80%;
  flex-shrink: 0;
  background-color: var(--font-color);
  -webkit-mask-image: url("../../../assets/meteor-solid-full.svg");
  mask-image: url("../../../assets/meteor-solid-full.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
