#leaderBody {
  width: 100%;
  height: var(--page-height);
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: var(--font-size-small);
  color: var(--font-color-prompt-title);
  background: var(--background-color);
}

#leaderBoardBody {
  width: 100%;
  height: var(--content-height);
  padding: 0;
  overflow: hidden;
}

#sortContainer {
  display: flex;
  width: 90%;
  margin-left: 5%;
  justify-content: space-evenly;
  gap: 8px;
  margin-bottom: 16px;
}

.lb-sort-btn {
  padding: 1%;
  border-radius: var(--border-radius);
  border: none;
  background: var(--accent-color3);
  cursor: pointer;
  width: 30%;
  height: calc(var(--leader-board-element-height) * 1.5);
  color: var(--font-color);
  font-size: var(--font-size-small);
  padding-top: -5%;
}

.lb-sort-btn.active {
  background: var(--accent-color2);
}

#boardContainer {
  display: flex;
  flex-direction: column;
  gap: 1%;
  max-width: 90%;
  margin: 3% auto;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(
    var(--content-height) - var(--leader-board-element-height) - 3rem
  );
}

.leaderBoardTile {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 8%;
  padding: 2.5% 2.5%;
  background: var(--background-color);
  border: 0.15vh solid var(--accent-color);
  border-radius: var(--border-radius);
  min-height: var(--leader-board-element-height);
  font-size: var(--font-size-small);
  color: var(--font-color-prompt-title);
  flex-shrink: 0;
}

.lb-name {
  flex: 1;
}

.lb-rank {
  font-weight: bold;
}
