.textDropdown {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--font-color);
  font-size: var(--font-size-small);
  padding: 0;
  margin-bottom: 0;
  padding-top: var(--dropdown-text-padding-top);
  height: var(--dropdown-text-height);
  text-decoration: none;
}

.textDropdown:hover {
  cursor: default;
}

#driverStation {
  margin-top: var(--dropdown-driverstation-margin-top);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--matchform-element-height);
  margin-left: var(--matchform-child-margin-side);
  margin-right: var(--matchform-child-margin-side);
  width: calc(100% - var(--matchform-child-width-to-subtract));
}

#dtext {
  height: var(--dropdown-dtext-height);
  width: var(--dropdown-dtext-width);
  font-size: var(--font-size-small);
}

#dropdown {
  margin-top: var(--dropdown-margin-top);
  padding-bottom: var(--dropdown-padding-bottom);
  height: var(--dropdown-height);
  right: 0;
  border: none;
  border-bottom: gray solid 1px;
  color: var(--font-color);
  width: var(--dropdown-width);
}

#endDropdown {
  margin-top: var(--dropdown-margin-top);
  padding-bottom: var(--dropdown-padding-bottom);
  height: var(--dropdown-height);
  right: 0;
  border: none;
  border-bottom: gray solid 1px;
  color: var(--font-color);
  width: var(--dropdown-width);
}

#dropdown:focus {
  outline: none;
  cursor: pointer;
}

#dropdown:hover {
  cursor: pointer;
}
