.textThemeDrop {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--font-color);
  font-size: var(--font-size-small);
  padding: 0;
  margin-bottom: 0;
  padding-top: var(--settings-themedrop-padding-top);
  height: var(--settings-themedrop-height);
  text-decoration: none;
}

.textThemeDrop:hover {
  cursor: default;
}

.themechild {
  margin-left: var(--matchform-child-margin-side);
  margin-right: var(--matchform-child-margin-side);
  height: var(--settings-element-height);
  width: var(--settings-element-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#themedrop {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--settings-element-height);
}

#themedtext {
  height: var(--settings-element-height);
  width: var(--settings-themedrop-text-width);
  font-size: var(--font-size-small);
}

#themedropdown {
  margin-top: var(--settings-themedrop-margin-top);
  padding-bottom: var(--settings-themedrop-padding-bottom);
  height: calc(var(--settings-element-height) / 1.5);
  right: 0;
  border: none;
  border-bottom: gray solid 1px;
  font-size: var(--font-size-small);
  color: var(--font-color);
}

#themedropdown:focus {
  outline: none;
  cursor: pointer;
}

#themedropdown:hover {
  cursor: pointer;
}
