.textcheck {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--font-color);
  font-size: var(--font-size-small);
  padding: 0;
  margin-bottom: 0;
  height: var(--check-text-height);
  text-decoration: none;
  padding-top: var(--check-padding-top);
  width: calc(100% - 15vw);
}

.text:hover {
  cursor: default;
}

.divcheck {
  margin-top: var(--check-div-margin-top);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--matchform-element-height);
}

.divcheck:focus {
  outline: none;
}

.check {
  height: var(--check-size);
  width: var(--check-size);
}

.checkcontainer {
  display: block;
  position: relative;
  padding-left: var(--check-container-padding-left);
  margin-bottom: var(--check-container-margin-bottom);
  cursor: pointer;
  font-size: var(--font-size-small);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: var(--check-mark-top);
  left: var(--check-mark-left);
  height: var(--check-size);
  width: var(--check-size);
  background-color: var(--checkbox-default-color);
}

.checkcontainer:hover input ~ .checkmark {
  background-color: var(--checkbox-hover-color);
}

.checkcontainer input:checked ~ .checkmark {
  background-color: var(--check-background-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}

.checkcontainer .checkmark:after {
  left: var(--check-mark-after-left);
  top: var(--check-mark-after-top);
  width: var(--check-mark-after-size);
  height: var(--check-mark-after-size);
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#doesneutral {
  margin-top: var(--check-div-margin-top);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--check-div-height);
  width: calc(100% - var(--matchform-child-width-to-subtract));
  margin-left: var(--check-special-margin-left);
}

#doesneutral:focus {
  outline: none;
}

#doeshp {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--check-div-height);
  width: calc(100% - var(--matchform-child-width-to-subtract));
  margin-left: var(--check-special-margin-left);
}

#doeshp:focus {
  outline: none;
}

#autotext {
  padding-top: var(--check-auto-text-padding-top);
  width: var(--check-auto-text-width);
}
