.textcheck {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #1e2226;
  font-size: 16px;
  padding: 0;
  margin-bottom: 0;
  padding-top: 5px;
  height: 30px;
  text-decoration: none;
  padding-top: 1vh;
  width: 80vw;
}

.text:hover {
  cursor: default;
}

.divcheck {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6.2vh;
}

.divcheck:focus {
  outline: none;
}

.check {
  height: 1.3vw;
  width: 1.3vw;
}

.checkcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -0.5vh;
  left: 1vw;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkcontainer input:checked ~ .checkmark {
  background-color: #2f628d;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}

.checkcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
