#newpitbutton {
  width: 50vw;
  height: 8vh;
  background-color: var(--accent-color3);
  border: 1px var(--accent-color3);
  border-radius: 15px;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: var(--faded-text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  outline: none;
  font-size: smaller;
  background-image: url(../../../assets/pitscout.svg);
  background-repeat: no-repeat;
  background-position: 0px 50%;
  background-size: 100% 40%;
  margin: 0;
  padding: 0;
}

button:hover {
  background-color: var(--accent-color2);
  cursor: pointer;
  outline: none;
}
