.autocounterwrap {
  display: block;
  margin-top: var(--counter-child-margin-vertical);
  margin-bottom: var(--counter-child-margin-vertical);
  padding: 0;
}

.autocountertextarea {
  display: block;
  width: 100%;
  height: var(--counter-button-height);
  font-size: var(--font-size-small);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color-prompt-title);
  background: var(--background-color);
  box-sizing: border-box;
  resize: none;
  border: solid 2px var(--border-color-faded);
  border-radius: var(--border-radius);
  padding: 0 0.5rem;
  text-align: center;
}

.autocountertextarea::placeholder {
  color: var(--font-color-prompt-title);
}

.autocountertextarea:focus {
  border: solid 2px var(--border-color-active);
  outline: 0;
}
