.text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #1e2226;
    font-size: 16px;
    padding: 0;
    margin-bottom: 0;
    padding-top: 5px;
    height: 30px;
    text-decoration: none;
}

.text:hover {
    cursor: default;
}

.child {
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    width: 80vw;
    display: flex;
    flex-direction: row;
    height: 6.2vh;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

#autocounttext {
    height: 6.2vh;
    width: 60vw;
    margin-bottom: 5vh;
    margin-top: 0vh;
}

#addto {
    height: 5.2vh;
    width: 20vw;
    margin-bottom: 5vh;
    margin-left: 1vw;
}

#remove {
    height: 5.2vh;
    width: 15vw;
    margin-bottom: 5vh;
    margin-left: 1vw;
}

#addto, #remove {
    margin-top: 0vh;
}