.textAutoCounter {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--font-color);
  font-size: 2.5vh;
  padding: 0;
  margin-bottom: 0;
  padding-top: 5px;
  height: 30px;
  text-decoration: none;
}

.child {
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  width: calc(100% - 15vw);
  display: flex;
  flex-direction: row;
  height: 6.2vh;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

#autocounttext {
  height: 6.2vh;
  width: calc(100% - 15vw);
  margin-bottom: 5vh;
  margin-top: 0vh;
}

#addto {
  margin-top: 5.7vh;
  background-color: var(--accent-color3);
  border: 1px var(--accent-color3);
  border-radius: 15px;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: var(--faded-text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  outline: none;
  font-size: smaller;
  height: 5.2vh;
  width: 40%;
  margin-bottom: 5vh;
  margin-left: 1vw;
}

#addto:hover {
  cursor: pointer;
}

#remove:hover {
  cursor: pointer;
}

#remove {
  margin-top: 5.7vh;
  background-color: var(--accent-color3);
  border: 1px var(--accent-color3);
  border-radius: 15px;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: var(--faded-text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  outline: none;
  font-size: smaller;
  height: 5.2vh;
  width: 30%;
  margin-bottom: 5vh;
  margin-left: 1vw;
}

#addto,
#remove {
  margin-top: 0vh;
}
