.divReplay {
  margin-left: var(--matchform-child-margin-side);
  margin-right: var(--matchform-child-margin-side);
  width: calc(100% - var(--matchform-child-width-to-subtract));
  height: var(--submitreplay-div-height);
  margin-bottom: var(--submitreplay-div-margin-bottom);
}

.replayButton {
  margin-top: var(--submitreplay-button-margin-top);
  margin-bottom: var(--submitreplay-button-margin-bottom);
  border: 1px var(--accent-color3);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight);
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: none;
  background-color: var(--accent-color);
  gap: 0px;
  font-size: var(--font-size-small);
}

.replayButton:hover {
  background-color: var(--accent-color2);
}

.replayText {
  text-decoration: none;
  color: var(--font-color);
  margin: none;
  padding: none;
  margin-top: var(--submitreplay-text-margin-top);
}

#replayPOne {
  margin-top: var(--submitreplay-label-margin-top);
}

#replayCheck {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  top: 0;
  right: 0;
}
