.divReplay {
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  width: calc(100% - 15vw);
  height: 8vh;
  margin-bottom: 1vh;
}

.replayButton {
  margin-top: 5.7vh;
  margin-bottom: 4.4vh;
  border: 1px #cee5ff;
  border-radius: 15px;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: none;
  background-color: #9ccbff;
  gap: 0px;
  font-size: 2.5vh;
}

.replayButton:hover {
  background-color: #8fbdef;
}

.replayText {
  text-decoration: none;
  color: black;
  margin: none;
  padding: none;
  margin-top: -1vh;
}

#replayPOne {
  margin-top: 2vh;
}

#replayCheck {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  top: 0;
  right: 0;
}
