.divSubmit {
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  width: calc(100% - 15vw);
  height: 8vh;
  margin-bottom: 1vh;
}

.submitButton {
  margin-top: 5.7vh;
  margin-bottom: 4.4vh;
  border: 1px #cee5ff;
  border-radius: 15px;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: #5f6167;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  outline: none;
  font-size: smaller;
  display: grid;
  justify-content: center;
  grid-template-areas: "stack-layer";
  width: 100%;
  height: 100%;
  padding: none;
  background-color: #9ccbff;
}

.submitButton:hover {
  background-color: #8fbdef;
}

.submitText {
  text-decoration: none;
  color: black;
  margin: none;
  margin-top: 0;
  padding: none;
  font-size: 2vh;
}

#submitImage {
  margin-top: -3.5vh;
  background-image: url("../../../assets/floppy-disk-solid-full.svg");
}

.submitImage {
  height: 4.8vh;
  width: 4.8vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
