.text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #1e2226;
  font-size: 16px;
  padding: 0;
  margin-bottom: 0;
  padding-top: 5px;
  height: 30px;
  text-decoration: none;
}

.text:hover {
  cursor: default;
}

.text2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #1e2226;
  font-size: 23px;
}

#form {
  display: grid;
  grid-template-columns: 94.8vw 5.2vw;
  width: 100vw;
  height: 92vh;
  overflow: hidden;
}

#formScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92vh;
  padding: 0;
  margin: 0;
  border-left: rgba(0, 0, 0, 0.132) 1px solid;
  background-color: white;
}

/* Body */

#formBody {
  height: 92vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

.child {
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  width: 80vw;
}

#matchNum {
  margin-top: 2.5vh;
  height: 6.2vh;
  border-radius: 5px;
  color: #1e2226;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  border: solid 0.25vh #93979f;
  text-align: center;
}

#matchNum:focus {
  border: solid 0.4vh #417096;
  outline: none;
}

#matchNum::placeholder {
  color: #1e2226;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
}

#matchNum:focus::placeholder {
  color: white;
}

#teamNum {
  margin-top: 1.5vh;
  height: 6.2vh;
  border-radius: 5px;
  color: #1e2226;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  border: solid 0.25vh #93979f;
  text-align: center;
}

#teamNum:focus {
  border: solid 0.4vh #417096;
  outline: none;
}

#teamNum::placeholder {
  color: #1e2226;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
}

#teamNum:focus::placeholder {
  color: white;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: #1e2226;
  font-size: 16px;
  padding: 0;
  padding-top: 5px;
  text-decoration: none;
  font-size: large;
  text-align: center;
}

#headparent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#climbheadparent {
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#endheadparent {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottomspace {
  height: 18.4vh;
  background-color: #11111100;
}

#notesdiv {
  height: 40vh;
}

#notesbox {
  width: 100%;
  height: 100%;
}

#cycleContainer {
  height: 40vh;
  width: 80vw;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.Score {
  width: 80vw;
  height: 9vh;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
}

.Score:hover {
  background-color: #cee5ff;
  cursor: pointer;
}

.Score > .cycleElementImg {
  left: 0;
  position: relative;
  height: 3vw;
  width: 4vw;
  background-image: url("../../assets/meteor-solid-full.svg");
  background-size: 3vw 3vw;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  border: black 0.5px solid;
  border-radius: 20%;
}

.Score:hover > .cycleElementImg {
  background-color: #d6e9ff;
}

.Shuttle {
  width: 80vw;
  height: 9vh;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
}

.Shuttle:hover {
  background-color: #cee5ff;
  cursor: pointer;
}

.Shuttle > .cycleElementImg {
  left: 0;
  position: relative;
  height: 3vw;
  width: 4vw;
  background-image: url("../../assets/bus-side-solid-full.svg");
  background-size: 3vw 3vw;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  border: black 0.5px solid;
  border-radius: 20%;
}

.Shuttle:hover > .cycleElementImg {
  background-color: #d6e9ff;
}

.cycleElementText {
  padding-top: 2.765vw;
  padding-right: 4vw;
  width: 75vw;
  height: inherit;
}
