.textMatchForm {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--font-color);
  font-size: 2.5vh;
  padding: 0;
  margin-bottom: 0;
  padding-top: 5px;
  height: 30px;
  text-decoration: none;
}

.text:hover {
  cursor: default;
}

.text2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--font-color);
  font-size: 2.5vh;
}

#body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#form {
  display: grid;
  grid-template-columns: 1fr 8vh;
  width: 100%;
  flex: 1;
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-height: 0;
}

#formScore {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  border-left: rgba(0, 0, 0, 0.132) 1px solid;
  background-color: var(--background-color);
}

/* Body */

#formBody {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  box-sizing: border-box;
  min-height: 0;
}

.child {
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  width: calc(100% - 15vw);
  box-sizing: border-box;
}

#matchNum {
  margin-top: 2.5vh;
  height: 6.2vh;
  width: calc(100% - 15vw);
  border-radius: 5px;
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vh;
  border: solid 0.25vh var(--border-color-gray);
  text-align: center;
}

#matchNum:focus {
  border: solid 0.4vh var(--border-color-blue);
  outline: 0;
}

#matchNum::placeholder {
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
}

#matchNum:focus::placeholder {
  color: var(--background-color);
}

#teamNum {
  width: calc(100% - 15vw);
  font-size: 2.5vh;
  margin-top: 1.5vh;
  height: 6.2vh;
  border-radius: 5px;
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  border: solid 0.25vh var(--border-color-gray);
  text-align: center;
}

#teamNum:focus {
  border: solid 0.4vh var(--border-color-blue);
  outline: 0;
}

#teamNum::placeholder {
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
}

#teamNum:focus::placeholder {
  color: var(--background-color);
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--font-color);
  font-size: 2.5vh;
  padding: 0;
  padding-top: 5px;
  text-decoration: none;
  text-align: center;
}

#headparent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#climbheadparent {
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#endheadparent {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notesdiv {
  height: 40vh;
}

#notesbox {
  width: 100%;
  height: 100%;
  font-size: 2.5vh;
}

#cycleContainer {
  height: 40vh;
  width: calc(100% - 15vw);
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.cycle-item.Score {
  width: 100%;
  height: 9vh;
  text-align: center;
  color: var(--font-color);
  text-decoration: none;
  font-size: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
}

.cycle-item.Score:hover {
  background-color: var(--accent-color3);
  cursor: pointer;
}

.cycle-item.Score > .cycleElementImg {
  left: 0;
  position: relative;
  height: 40%;
  width: 10%;
  background-image: url("../../assets/meteor-solid-full.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  border: var(--font-color) 0.5px solid;
  border-radius: 20%;
}

.Score:hover > .cycleElementImg {
  background-color: var(--accent-color3);
}

.accSlider {
  -webkit-appearance: none;
  width: 70%;
  height: 1vh;
  margin-right: 10%;
  appearance: none;
  background: var(--kelly-green);
  border-radius: 10rem;
  cursor: pointer;
}

.cycle-item.Shuttle {
  width: 100%;
  height: 9vh;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
}

.cycle-item.Shuttle:hover {
  background-color: var(--accent-color3);
  cursor: pointer;
}

.cycle-item.Shuttle > .cycleElementImg {
  left: 0;
  position: relative;
  height: 40%;
  width: 13%;
  background-image: url("../../assets/bus-side-solid-full.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  border: black 0.5px solid;
  border-radius: 20%;
}

.cycle-item.Shuttle:hover > .cycleElementImg {
  background-color: var(--accent-color3);
}

.Score.cycleElementText {
  padding-top: 5%;
  padding-right: 20%;
  width: 25%;
  height: inherit;
  padding-left: 10%;
  font-size: 2.3vh;
}

.Shuttle.cycleElementText {
  padding-top: 9%;
  padding-right: 39%;
  padding-left: 16%;
  width: 25%;
  height: inherit;
  font-size: 2.3vh;
}

.Score.deleteButton {
  left: 0;
  margin-left: 0;
  position: relative;
  height: 30%;
  width: 10%;
  background-image: url("../../assets/xmark-solid-full.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  border: black 0.5px solid;
  border-radius: 20%;
}

.Shuttle.deleteButton {
  left: 0;
  margin-left: 0;
  position: relative;
  height: 30%;
  width: 10%;
  background-image: url("../../assets/xmark-solid-full.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  border: black 0.5px solid;
  border-radius: 20%;
}

.deleteButton:hover {
  background-color: var(--error-color);
}

.accuracyLabel {
  width: 10vh;
  height: 3vh;
}
