* {
  font-size: var(--font-size-small);
  color: var(--font-color);
}

#leaderBody {

  width: 100%;
  height: var(--page-height);
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background: var(--background-color);
  min-height: var(--page-height);
}

#leaderBoardBody {
  width: 100%;
  margin-top: 8vh;
  height: calc(100% - 8vh);
  padding: 0;
  overflow: hidden;
}

#sortContainer {
  display: flex;
  width: 90%;
  margin-left: 5%;
  justify-content: space-evenly;
  gap: 8px;
  margin-bottom: 16px;
}

.lb-sort-btn {
  padding: 1% 1%;
  border-radius: 1em;
  border: none;
  background: var(--accent-color3);
  cursor: pointer;
  width: 30%;
  height: var(--leader-board-element-height);
}

.lb-sort-btn.active {
  background: var(--accent-color2);
}

#boardContainer {
  display: flex;
  flex-direction: column;
  gap: 8%;
  max-width: 90%;
  margin: 3% auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.leaderBoardTile {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 8%;
  margin-bottom: 3%;
  padding: 1% 1%;
  background-color: var(--background-color);
  border: 0.15vh solid var(--accent-color);
  border-radius: 1em;
  height: var(--leader-board-element-height);
  font-size: var(--font-size-small);
}

.lb-rank {
  width: 28;
}

.lb-name {
  flex: 1;
}

.lb-score {
  font-weight: bold;
}
