p {
    color: #5dacec;
    text-decoration: underline;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    outline: none;
}

p:hover {
    cursor: pointer;
}