button {
    margin-top: 5.7vh;
    margin-bottom: 4.4vh;
    width: 13vw;
    height: 5.8vh;
    background-color: #cee5ff;
    border: 1px #cee5ff;
    border-radius: 15px;
    filter:drop-shadow(0px 4px 5px rgb(164, 164, 164));
    color: #5f6167;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1;
    outline: none;
    font-size: smaller;
}

button:hover {
    cursor: pointer;
    outline: none;
}