html {
  scrollbar-color: var(--font-color-prompt-title) var(--background-color);
}

:root {
  /* Color Variables */
  --background-color: white;
  --accent-color: #9bcbfb;
  --accent-color2: #8fbdeb;
  --accent-color3: #cee5ff;

  --matchform-sectionbox-background-color: rgba(0, 0, 0, 0.1);

  --blue-color: #9bcbfb;
  --error-color: var(--disabled-color);
  --disabled-color: #717172;

  --font-color: black;
  --font-color-prompt-title: black;
  --font-color-header: black;

  --drop-shadow-color: #626263;
  --sidenav-hover-color: var(--accent-color);
  --faded-text-color: #5f6167;

  --kelly-green: #4cbb17;
  --error-message-color: var(--disabled-color);
  --check-background-color: #4cbb17;
  --checkbox-default-color: #eee;
  --checkbox-hover-color: #ccc;
  --border-color-faded: #d9d9db;
  --border-color-active: #417096;
  --sidenav-button-color: #dfdfdf;
}
