#hubSwitchButton {
  background: var(--disabled-color);
  border-color: var(--accent-color3);
}

#hubSwitchButton.blue {
  background: var(--blue-color);
}

#hubSwitchButton.red {
  background: var(--error-color);
}

#hubSwitchButtonImg {
  height: var(--cycle-image-height);
  width: 80%;
  flex-shrink: 0;
  background: var(--font-color);
  -webkit-mask-image: url("../../../assets/arrow-right-arrow-left-solid-full.svg");
  mask-image: url("../../../assets/arrow-right-arrow-left-solid-full.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
