#scoreButton.false {
  margin-top: 5.7vh;
  margin-bottom: 4.4vh;
  background-color: var(--accent-color3);
  border: 1px var(--accent-color3);
  border-radius: 15px;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  outline: none;
  width: 6.5vh;
  height: 6.5vh;
  position: absolute;
  top: 13vh;
  font-size: 1.8vh;
  text-align: center;
}

#scoreButton.true {
  margin-top: 5.7vh;
  margin-bottom: 4.4vh;
  background-color: var(--disabled-color);
  border: 1px var(--disabled-color);
  border-radius: 15px;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  outline: none;
  width: 6.5vh;
  height: 6.5vh;
  position: absolute;
  top: 13vh;
  font-size: 1.8vh;
  text-align: center;
}

#scoreButtonImg {
  height: 3vh;
  width: 100%;
  background-image: url("../../../assets/meteor-solid-full.svg");
  background-size: 1.7vh 1.7vh;
  background-repeat: no-repeat;
  background-position: 2vh 0vh;
}
