#shuttleButton.false {
  margin-top: 5.7vh;
  margin-bottom: 4.4vh;
  background-color: #cee5ff;
  border: 1px #cee5ff;
  border-radius: 15px;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  outline: none;
  width: 6.5vh;
  height: 6.5vh;
  position: absolute;
  top: 22vh;
  font-size: 1.8vh;
  text-align: center;
}

#shuttleButton.true {
  margin-top: 5.7vh;
  margin-bottom: 4.4vh;
  background-color: #a1a2a6;
  border: 1px #a1a2a6;
  border-radius: 15px;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  outline: none;
  width: 6.5vh;
  height: 6.5vh;
  position: absolute;
  top: 22vh;
  font-size: 1.8vh;
  text-align: center;
}

#shuttleButtonImg {
  height: 2vh;
  width: 100%;
  background-image: url("../../../assets/bus-side-solid-full.svg");
  background-size: 1.7vh 1.7vh;
  background-repeat: no-repeat;
  background-position: 2vh 0vh;
}
