#shuttleButton.false {
  margin-top: var(--cycle-margin-top);
  margin-bottom: var(--cycle-margin-bottom);
  background-color: var(--accent-color3);
  border: 1px var(--accent-color3);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 5px var(--drop-shadow-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight);
  outline: none;
  width: var(--cycle-size);
  height: var(--cycle-size);
  position: absolute;
  top: var(--shuttle-top);
  font-size: var(--font-size-cycle);
  text-align: center;
}

#shuttleButton.true {
  margin-top: var(--cycle-margin-top);
  margin-bottom: var(--cycle-margin-bottom);
  background-color: var(--disabled-color);
  border: 1px var(--disabled-color);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 5px var(--drop-shadow-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: var(--font-weight);
  outline: none;
  width: var(--cycle-size);
  height: var(--cycle-size);
  position: absolute;
  top: var(--shuttle-top);
  font-size: var(--font-size-cycle);
  text-align: center;
}

#shuttleButtonImg {
  height: var(--cycle-image-height);
  width: 100%;
  background-color: var(--font-color);
  -webkit-mask-image: url("../../../assets/bus-side-solid-full.svg");
  mask-image: url("../../../assets/bus-side-solid-full.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-size: var(--cycle-image-background-size);
  background-repeat: no-repeat;
  background-position: var(--cycle-image-background-position);
}
