#pass {
    width: 31.1vw;
    height: 7.3vh;
    border-radius: 5px;
    color: #1e2226;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1;
    border: solid 0.25vh #93979f;
    padding-left: 35px;
    background: url(../../../assets/pass.svg) no-repeat scroll 0px 0vh;
    background-size: 25px;
    background-position: 5px 1.7vh;
}

#pass::placeholder {
    color: #1e2226;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1;
}

#pass:focus {
    border: solid 0.4vh #417096;
    outline: none;
}

#pass:focus::placeholder {
    color: white;
}