#navbar {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 8vh;
  background-color: #9bcbfb;
}

#logout {
  position: absolute;
  bottom: 10vh;
}

.hamburger {
  margin-top: 1.3vw;
  margin-left: 0.8vw;
  height: 2vw;
  width: 2vw;
  background-image: url("../assets/bars-solid-full.svg");
  background-size: 2vw 2vw;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  padding: 15px;
  position: fixed;
  top: -6px;
  z-index: 1001;
}

#nav-toggle {
  display: none;
}

.side-nav {
  position: fixed;
  top: 0;
  left: -55vw;
  width: 55vw;
  height: 100%;
  background: white;
  padding-top: 60px;
  transition: left 0.3s ease;
}

.side-nav a {
  display: block;
  padding: 15px;
  color: black;
  text-decoration: none;
}

.side-nav a:hover {
  background: #444;
}

#nav-toggle:checked ~ .side-nav {
  left: 0;
}

.textp {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: black;
  font-size: 16px;
  padding-left: 1vw;
  text-decoration: none;
  margin-bottom: 0;
  padding-top: 5px;
  height: 30px;
}

#usertile {
  width: 15vw;
  height: 5vh;
  display: flex;
  justify-content: start;
  margin-bottom: 3vw;
}

#userimage {
  width: 3vw;
  height: 3vw;
  background-image: url("../assets/circle-user-solid-full.svg");
  background-repeat: no-repeat;
  background-size: 3vw 3vw;
}

#usertext {
  width: 3vw;
  height: 3vw;
}

#usertext h1 {
  text-decoration: none;
  color: black;
  font-size: medium;
  margin-top: 1.7vh;
}

#usertext p {
  margin-top: -4.3vh;
  margin-left: 0.2vw;
  font-size: 1.5vh;
  text-decoration: none;
  color: black;
}