#sideButtonTrigger {
  width: 3vw;
  height: 3vw;
  position: absolute;
  bottom: 0;
  font-size: 10px;
  text-align: center;
}

#stopbuttonimg {
  height: 2vw;
  width: 2vw;
  background-image: url("../../../assets/stopwatch.svg");
  background-size: 2vw 2vw;
  background-repeat: no-repeat;
  background-position: 1px 0px;
}

#resetbutton {
  width: 100%;
  height: 8vh;
  border-radius: 0;
  box-shadow: none;
}

#resetbutton:hover {
  background-color: #bed5ef;
}