#sideButtonTrigger {
  margin-top: 5.7vh;
  margin-bottom: 4.4vh;
  border-radius: 15px;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  outline: none;
  width: 6.5vh;
  height: 6.5vh;
  position: absolute;
  bottom: 0;
  font-size: 1.8vh;
  text-align: center;
  border: 1px solid;
  transition: background-color 0.2s ease;
}

#sideButtonTrigger.active {
  background-color: lightcoral;
  border-color: lightcoral;
}

#sideButtonTrigger.inactive {
  background-color: #cee5ff;
  border-color: #cee5ff;
}

#stopbuttonimg {
  height: 2vh;
  width: 100%;
  background-size: 1.7vh 1.7vh;
  background-repeat: no-repeat;
  background-position: 2vh 0vh;
}

.act {
  background-image: url("../../../assets/square-solid-full.svg");
}

.inact {
  background-image: url("../../../assets/stopwatch.svg");
}

#resetbutton {
  background-color: #cee5ff;
  border: 1px #cee5ff;
  color: #5f6167;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  font-size: 2.5vh;
  outline: none;
  width: 100%;
  height: 8vh;
  box-shadow: none;
}

#resetbutton:hover {
  background-color: #bed5ef;
}
