#navbar {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 8vh;
    background-color: #9bcbfb;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #1e2226;
    font-size: 16px;
    padding: 0;
    margin-bottom: 0;
    padding-top: 5px;
    height: 30px;
}

.text2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #1e2226;
    font-size: 23px;
}

#assigned {
    margin-bottom: 0;
    padding-top: 10px;
    /* height: 30px; */
}