.textHome {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--font-color);
  font-size: 3vh;
  padding: 0;
  margin-bottom: 0;
  padding-top: 5px;
}

.textHome2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: var(--font-color);
  font-size: 3vh;
}

#assigned {
  margin-bottom: 0;
  padding-top: 10px;
}

#refreshButtonContainer {
  position: fixed;
  bottom: -14px;
  right: 17px;
  margin: 0;
}

#refreshButton {
  margin-top: 5.7vh;
  margin-bottom: 4.4vh;
  border: 1px var(--accent-color3);
  border-radius: 15px;
  box-shadow: 0px 4px 5px rgb(164, 164, 164);
  color: var(--faded-text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1;
  outline: none;
  font-size: smaller;
  width: 7.9vh;
  height: 7.9vh;
  background-color: var(--accent-color);
  background-image: url("../../assets/reload.svg");
  background-size: 3vh 3vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 0;
}

#refreshButton:hover {
  background-color: var(--accent-color);
}

button:hover {
  background-color: var(--accent-color);
}
